# Dependencies
node_modules
.pnp.*

# Nx
.nx/cache
.nx/workspace-data

# Build output
dist
build

# Vite
vite.config.*.timestamp*
vitest.config.*.timestamp*

# Test results
coverage

# Local Environment
.env.local

# macOS
.DS_Store